<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>


<!-- Google Sign-in Section -->
            <key>GIDClientID</key>
            <string>404741528477-8uqlbutf6raitrlg0ol8gip6u8ijs8h5.apps.googleusercontent.com</string>

            <key>CFBundleURLTypes</key>
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>


                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>com.googleusercontent.apps.404741528477-8uqlbutf6raitrlg0ol8gip6u8ijs8h5</string>
                        <string>fb1518734908806146</string>

                    </array>


                </dict>
            </array>
            <!-- End of the Google Sign-in Section -->




    <key>FacebookAppID</key>
        <string>1518734908806146</string>
        <key>FacebookClientToken</key>
        <string>d72d76662c24247f25301e632eda4a3a</string>
        <key>FacebookDisplayName</key>
        <string>fbPlantie</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
             <string>sms</string>
             <string>tel</string>
        </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>FacebookAutoLogAppEventsEnabled</key>
     <true/>

    <key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads to you.</string>







	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Plantie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>plantie</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>


	<key>NSAppTransportSecurity</key>
     <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
     </dict>

     <key>NSCameraUsageDescription</key>
     <string>We need to access your camera for plant detection.</string>
     <key>NSPhotoLibraryUsageDescription</key>
     <string>We need access to your photo library to select images.</string>
     <key>NSPhotoLibraryAddUsageDescription</key>
     <string>We need to save processed images to your photo library.</string>




</dict>
</plist>
